@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#general {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: auto;
    max-width: fit-content;
}

.header-doc {
    text-align: center;
}

.header-doc h1 {
    font-size: 20px;
    line-height: 2;
}

.header-doc span {
    font-size: 12px;
}

#general hr {
    margin: 10px 46px;
    height: 5px;
    background-color: green;
}

#general hr:nth-of-type(2) {
    margin-top: 46px;
}

.contact-info .imgph img {
    float: left;
}

.contact-info,
.education-info h1,
.skill-info h1,
.language-info h1 {
    margin: 0 10px;
    line-height: 2;
}

.contact-info h1,
.education-info h1,
.skill-info h1,
.language-info h1 {
    font-size: 15px;
    font-weight: 100;

}

.contact-info p {
    font-size: 12px;
}

.education-info ol li,
.skill-info dd {
    margin: 0 45px;
}

.skill-info dt {
    margin: 0 10px;
}

.skill-info dt:first-child {
    margin-top: 20px;
}

.language-info ul li {
    margin: 0 55px;
    list-style: none;
    font-size: 13px;
    font-weight: 100;
}